/*! Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  } 

:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-Light-grayish-violet: hsl(270, 3%, 87%);
    --clr-Dark-grayish-violet: hsl(279, 6%, 55%);
    --clr-Very-dark-violet: hsl(278, 68%, 11%);
    --clr-Red : hsl(0, 100%, 66%);
    --input-border1: hsl(249, 99%, 64%);
    --input-border2: hsl(278, 94%, 30%);


    --ff-accent:'Space Grotesk', sans-serif;

    --opacity: 1;
    --visibility: visible;
    --event:all;
    
}

body{
    font-family:var(--ff-accent);
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    

}

.main{
    max-width: 31.25rem;
    min-height: 43.75rem ;
    margin: 0 auto;
    position: relative;
}

.top{
    background-image: url(images/bg-main-mobile.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 15rem;

    margin-bottom: 5.6875rem;
    color: var(--clr-white);
}


.card-back,
.card-front{
    height: 9.8125rem;
    width: 17.875rem;
    position: absolute;
}

.card-back{
    top: 2rem;
    right: 1rem;
}

.card-front{
    left: 1rem;
    top: 7.875rem;
}

.card-logo{
    position: absolute;
    left: 2.25rem;
    bottom: 4.2rem;
    width: 3.25rem;
}


.cvc-on-card{
    position: absolute;
    right: 52px;
    bottom:124px;

    font-size: 0.5625rem;
    line-height: 11px;
    letter-spacing: 1.5008px;

}

.number-on-card{
    position: absolute;
    left: 2.25rem;
    bottom: 0.375rem;

    letter-spacing:1.5008px;
    line-height: 20px;
}

.text-on-card{
    width: 245px ;
    display: flex; 
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 2.25rem;
    bottom: -1.375rem;

    font-size: 0.6rem;
    letter-spacing: 1.2px;
    line-height: 11px;

}

.card__details{
    padding: 0 1.5rem;
    margin: auto;
    position: relative;
    max-width: 429px;

}

.form__message{
    width: 100%;
    margin: auto;
    padding: 0 1.5rem;

    display: grid;
    align-items: center;
    place-items: center;
    gap: 1rem;
 
    position: absolute;
    top: 0;
    left: 0; 

}


/*!================FORM====================*/

.form__message > h2{
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 3.2px;
    color: var( --clr-Very-dark-violet);
    margin-top: 1rem;
    font-weight: 500;
}

.form__message > p{
    text-transform: none;
    color: var(--clr-Dark-grayish-violet);
    line-height: 1.4375rem;
    margin-bottom: 2rem;
}

.form-btn{
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 100%;
    background-color: var(--clr-Very-dark-violet);
    color: var(--clr-white);
    padding: .8rem 1.5em;
    border-radius:.5rem;
}


.form{
    font-size: 0.75rem;
    letter-spacing: 2px;
    line-height: 15px;

    display: flex;
    flex-direction: column;

    color: var(--clr-Very-dark-violet);
    font-weight: 500;

}



.hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;
}



#cardholder-name::placeholder,
#card-number::placeholder,
#month::placeholder,
#year::placeholder,
#cvc::placeholder {
    line-height: 23px;
    font-size: 1.125rem;
    opacity: 0.25;

}

input{
    width: 100%;
    height: 45px;

    padding: 11px 16px;
    border : 1px solid var(--clr-Light-grayish-violet);
    border-radius: 0.5rem;
    position: relative;

    line-height: 23px;
    color: var(--clr-Dark-grayish-violet);
}

input:hover, 
input:focus{
    cursor: pointer;
    border: 2px solid var(--input-border1);
    outline-color: var(--input-border2);
    
}

label{
    margin: 8px 0;
}

.form>div{
    display: flex;
    margin-bottom: 28px;
}

.form> div div:nth-child(1){
    width: 25%;
    margin-right: 4px;
}

.form> div div:nth-child(2){
    width: 25%;
    margin-left: 4px;
}

.form> div div:nth-child(3){
    width: 58%;
    margin-left: 11px;
}

.form> div div label{
    white-space: nowrap;
}

#month,
#year,
#cvc {
    margin-top: 9px;
}

.error{
   margin-left:1rem;
   font-size: 10px;
   color: red;
}

.form-btn {
    font-size: 18px;
    line-height: 23px;
    color: var(--clr-white);
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-Very-dark-violet);
    cursor: pointer;
}


/*! ==============MediaQuerries=================*/

@media screen and (min-width: 600px) {

    .main{
        max-width: 550px;

    }
    .top{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 100px;
    }
    
}

@media (min-width: 1100px) {
    .main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0;
        max-width: revert;
        max-height: revert;
    }

    .top{
        background-image: url(images/bg-main-desktop.png);
        background-size: cover;
        background-position: center;
        position: relative;

        width: 483px;
        height: 100vh;
        margin: 0;
        border-radius: 0;

    }

    .card-back,
    .card-front{
        width: revert;
        height: revert;
        position: absolute;
    }

    .card-back{
        top: 469px;
        right: -222px;
        box-shadow: 0 39px 60px rgba(0, 0, 0, 0.142);
    }
    .card-front{
        top: 187px ;
        left: revert;
        right: -120px;
        box-shadow: 0 39px 60px rgba(0, 0, 0, 0.142);
    }

    .card-logo{
        width: revert;
        position: absolute;
        top: 215px;
        left: 196px;

    }

    .number-on-card{
        font-size: 1.75rem;
        line-height: 30px;
        white-space: nowrap;
        letter-spacing: 3px;
        
        position: absolute;
        top: 325px;
        left: 196px;
    }

    .text-on-card{
        width: 383.2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 0.875rem;
        line-height: 18px;
        letter-spacing: 2px;

        position: absolute;
        top: 387.5px;
        left: 196px;
        bottom: revert;
    }

    .cvc-on-card{
        font-size: 0.875rem;
        line-height: 16px;
        letter-spacing: 2px;

        position: absolute;
        top: 580px;
        right: revert;
        left: 615px;

    }

  /*!------------Form-----------*/


    .card__details{
        max-width: 381px;
        margin: 275px 0 0 300px;
        padding: 0;
    }

}

@media (min-width:1250px) {

    .card__details{
        margin-left: 349px;

    }

    .card__details > div{
        margin-bottom: 40px;
    }

    /* .error{
        font-size: 10px;
        margin-bottom: 12px;
    } */
    
}